.sidebar-nav li:hover {
	background-color: rgb(255, 229, 231);
}

.sidebar-nav .active,
.sidebar-nav li:hover {
	position: relative;
}

.sidebar-nav .active::before,
.sidebar-nav li:hover::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 0.2rem;
	height: 100%;
	background-color: rgb(255, 91, 90);
}
